In [2]:
url='https://github.com/Mritunjay1121/Datasets/raw/main/Data_Train.tar.gz'

In [4]:
import os
os.path.basename(url)

'Data_Train.tar.gz'

In [6]:
import pandas as pd
import sys
os. getcwd()

'c:\\Users\\mritu\\PycharmProjects\\Projects\\flight_fare_prediction\\notebook'

In [27]:
df=pd.read_csv('c:\\Users\\mritu\\PycharmProjects\\Projects\\flight_fare_prediction\\notebook\\new_train.csv')
df

,Total_Stops,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hours,Duration_mins,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,22,20,1,10,2,50,...,0,0,0,0,0,0,0,0,0,1
1,2,7662,1,5,5,50,13,15,7,25,...,0,0,0,1,0,0,0,0,0,0
2,2,13882,9,6,9,25,4,25,19,0,...,0,0,1,0,0,1,0,0,0,0
3,1,6218,12,5,18,5,23,30,5,25,...,0,0,0,1,0,0,0,0,0,0
4,1,13302,1,3,16,50,21,35,4,45,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10677,0,4107,9,4,19,55,22,25,2,30,...,0,0,0,1,0,0,0,0,0,0
10678,0,4145,27,4,20,45,23,20,2,35,...,0,0,0,1,0,0,0,0,0,0
10679,0,7229,27,4,8,20,11,20,3,0,...,0,0,0,0,0,0,1,0,0,0
10680,0,12648,1,3,11,30,14,10,2,40,...,0,0,0,0,0,0,0,0,0,1
10681,2,11753,9,5,10,55,19,15,8,20,...,0,0,1,0,0,1,0,0,0,0

In [25]:
df =  df.astype(float)
dd={}
for i in df.columns:
    dd[i]=df[i].dtype
dd

{'Total_Stops': dtype('float64'),
 'Price': dtype('float64'),
 'Journey_day': dtype('float64'),
 'Journey_month': dtype('float64'),
 'Dep_hour': dtype('float64'),
 'Dep_min': dtype('float64'),
 'Arrival_hour': dtype('float64'),
 'Arrival_min': dtype('float64'),
 'Duration_hours': dtype('float64'),
 'Duration_mins': dtype('float64'),
 'Airline_Air India': dtype('float64'),
 'Airline_GoAir': dtype('float64'),
 'Airline_IndiGo': dtype('float64'),
 'Airline_Jet Airways': dtype('float64'),
 'Airline_Jet Airways Business': dtype('float64'),
 'Airline_Multiple carriers': dtype('float64'),
 'Airline_Multiple carriers Premium economy': dtype('float64'),
 'Airline_SpiceJet': dtype('float64'),
 'Airline_Trujet': dtype('float64'),
 'Airline_Vistara': dtype('float64'),
 'Airline_Vistara Premium economy': dtype('float64'),
 'Source_Chennai': dtype('float64'),
 'Source_Delhi': dtype('float64'),
 'Source_Kolkata': dtype('float64'),
 'Source_Mumbai': dtype('float64'),
 'Destination_Cochin': dtype('float64'),
 'Destination_Delhi': dtype('float64'),
 'Destination_Hyderabad': dtype('float64'),
 'Destination_Kolkata': dtype('float64'),
 'Destination_New Delhi': dtype('float64')}

In [20]:
df2=pd.read_csv("housing.csv")
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND